body{
    padding: 20px;

}
#heading{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.highlight{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-family: 'lobster', sans-serif;
}
img{
    border:5px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    margin: 20px 0;
}
footer{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 20px;
}
ul li {
    margin-bottom: 8px;
}
